@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Nunito+Sans:wght@300&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  font-family: "Nunito Sans", sans-serif;
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
  margin: 0;
}

#banner {
  grid-row: 1 / span 1;
  grid-column: 1 / span 5;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  background-color: rgb(218, 131, 70);
}

#banner h2 {
  grid-row: 3;
  grid-column: 1 / span 2;
  margin: 0;
  margin-left: 5%;
  color: white;
}

form {
  grid-row: 3;
  grid-column: 5;
  text-align: center;
}

#logout > input[type="submit"] {
  cursor: pointer;
  box-shadow: 0 6px rgb(149, 149, 149);
  display: inline-block;
  position: relative;
  transition: 0.3s;
  margin-bottom: 3%;
  color: black;
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
}

#logout > input[type="submit"] {
  cursor: pointer;
  box-shadow: 0 6px rgb(149, 149, 149);
  display: inline-block;
  position: relative;
  transition: 0.3s;
  margin-bottom: 3%;
  color: black;
}

#logout > input[type="submit"]:hover {
  outline: none;
  padding: 2% 10% 2% 10%;
}

#logout > input[type="submit"]:active {
  transform: translateY(3px);
  box-shadow: 0 5px rgb(119, 119, 119);
}
