@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Nunito+Sans:wght@300&display=swap");

* {
    font-family: "Montserrat", sans-serif;
    font-family: "Nunito Sans", sans-serif;
    margin-right:5%;
    margin-top: 1%;
}

body {
    overflow-x: hidden;
}


@media screen and (max-width: 700px) {
    #container {
        display: grid;
        width: 100vw;
        height: 100vh;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 2fr 2fr 2fr 2fr 2fr;
        grid-template-areas:
            "nav nav"
            "options options"
            "banner banner"
            "welcome welcome"
            "feature1 feature2"
            "footer footer";
    }

    #nav {
        grid-area: nav;
        display: flex;
    }

    #comp_name {
        margin-left: 18%;
    }
    #menu {
        display: flex;
        justify-content: left;
    }

    #profile_icon {
        margin-left: 800%;
    }

    #shopping {
        margin-left: 700%;
    }


    #options{
        grid-area: options;
        text-align: center;
        display: flex;
        justify-content: space-evenly;
    }

    a {
        text-decoration: none;
    }

    #banner {
        grid-area: banner;
    }

    #home_image {
        grid-area: banner;
        width: 100vw;
    }

    #welcome {
        grid-area: welcome;
        text-align: center;
    }

    #feature1 {
        grid-area: feature1;
        border-style: solid;
        border-width: 1px;
        border-radius: 15px;
        padding-left: 8%;
        margin-top: 15%;
    }

    #feature2 {
        grid-area: feature2;
        border-style: solid;
        border-width: 1px;
        border-radius: 15px;
        padding-left: 8%;
        margin-top: 15%;
        margin-right: 10%;
    }

    #saferchoice {
        display: flex;
        justify-content: center;
        width: 90%;
    }

    #green_seal {
        display: flex;
        justify-content: center;
        width: 90%

    }

    #footer {
        grid-area: footer;
    }

}